.new {
  background-color: #19b019;
  color: white;
  padding: 5px 20px;
  position: absolute;
  top: 15px;
  right: -10px;
  transform: rotate(30deg);
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  -webkit-box-shadow: -3px 9px 15px 5px rgba(0, 0, 0, 0.63);
  box-shadow: -3px 9px 15px 5px rgba(0, 0, 0, 0.63);
}
