<form class="form" [formGroup]="userForm">
  <!-- <mat-vertical-stepper>
    <mat-step>
      <ng-template matStepLabel>{{ 'user.personalData' | translate }}</ng-template>
      <ng-template matStepContent> <app-personal-data-form formGroupName="personalDataForm" [personalDataForm]="userForm?.get('personalDataForm')"></app-personal-data-form> </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>{{ 'user.appData' | translate }}</ng-template>
      <ng-template matStepContent> <app-app-data-form  formGroupName="appDataForm" [appDataForm]="userForm?.control('appDataForm')"></app-app-data-form> </ng-template>
    </mat-step>
  </mat-vertical-stepper> -->
  <mat-vertical-stepper>
    <mat-step>
      <ng-template matStepLabel>{{ 'user.personalData' | translate }}</ng-template>
      <ng-template matStepContent> <app-personal-data-form formGroupName="personalDataForm"></app-personal-data-form> </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>{{ 'user.appData' | translate }}</ng-template>
      <ng-template matStepContent> <app-app-data-form formGroupName="appDataForm"></app-app-data-form> </ng-template>
    </mat-step>
  </mat-vertical-stepper>
</form>
