<div class="close">
  <button mat-mini-fab color="primary" (click)="toggleSidenav()">
    <mat-icon><span class="material-icons"> arrow_back_ios_new </span></mat-icon>
  </button>
</div>
<p routerLink="/bets" routerLinkActive="active" class="w-100 mb-2">
  <mat-icon><span class="material-icons-round"> casino </span></mat-icon> {{ 'sidebar.bets' | translate }}
</p>
<!-- <p routerLink="/games" routerLinkActive="active" class="text-left">
  <mat-icon><span class="material-icons-round"> sports_esports </span></mat-icon> {{ 'sidebar.games' | translate }}
</p> -->
