@import 'variables';

.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  mat-sidenav {
    padding: $min-relative-size;
    min-width: 15%;
  }
}

.container {
  margin: $min-relative-size;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  // height: 100%;
}
