<mat-card *ngIf="bet | async; let bet">
  <mat-card-header>
    <mat-card-title>
      {{ bet.config?.name }}
    </mat-card-title>
    <mat-card-subtitle>{{ 'bets.bet.validUntil' | translate }}: {{ bet.config?.endDate | date: 'shortDate' }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <are-basic-form #areForm [formlyData]="bet.config?.formlyData">
      <mat-card-actions>
        <button mat-raised-button color="accent" class="btn-block" [innerHTML]="'commons.reset' | translate" (click)="areForm.reset()"></button>
        <button
          mat-raised-button
          color="primary"
          class="btn-block"
          [innerHTML]="'commons.accept' | translate"
          (click)="submit(bet)"
          [disabled]="bet.config?.formlyData?.form?.invalid"
        ></button>
      </mat-card-actions>
    </are-basic-form>
  </mat-card-content>
</mat-card>
